<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.upenn.cis550.f1project.mapper.F1Mapper">

	<select id="getCityByName"
		resultType="edu.upenn.cis550.f1project.entity.City">
		SELECT *
		FROM usa_city
		WHERE city_name = #{name};
	</select>

	<insert id="saveCity"
		parameterType="edu.upenn.cis550.f1project.entity.City">
		INSERT INTO usa_city (city_name, state_name)
		VALUES
		(#{city.cityName}, #{city.stateName});
	</insert>


<!-- 1st constructor query -->
 	<resultMap id="constructorRstWithTime"
		type="edu.upenn.cis550.f1project.entity.ConstructorWithLapTime">
		<result property="constructorName" column="name" />
		<result property="averageLapTime" column="avg_lap_time" />
	</resultMap>

	<select id="getConstructorsWithLeastLapTime"
		resultMap="constructorRstWithTime">
		select constructor_name as name, avg (lt.milliseconds) as
		avg_lap_time
		from
		constructor c join constructor_result cr on c.id =
		cr.constructor_id
		join lap_time lt on cr.race_id = lt.race_id
		join race
		r on cr.race_id = r.id
		where r.race_year &gt;= #{startYear} and
		r.race_year &lt;= #{endYear}
		group by constructor_name
		order by
		avg_lap_time asc
		limit #{number};
	</select>

<!-- 2st constructor query -->
	<resultMap id="constructorRstWithPoints"
		type="edu.upenn.cis550.f1project.entity.ConstructorWithPoints">
		<result property="constructorName" column="name" />
		<result property="points" column="total_points" />
	</resultMap>

	<select id="getConstructorsWithMostPoints"
		resultMap="constructorRstWithPoints">
		select constructor_name as name, sum(cr.points) as total_points
		from constructor c join constructor_result cr on c.id = cr.constructor_id
		join race r on cr.race_id = r.id
		where race_year &gt;= #{startYear} and race_year &lt;= #{endYear}
		group by constructor_name
		order by total_points desc
		limit #{number};
	</select>

</mapper>