<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.upenn.cis550.f1project.mapper.F1Mapper">

	<!-- 1st constructor query -->
	<resultMap id="constructorRstWithTime"
		type="edu.upenn.cis550.f1project.entity.ConstructorWithLapTime">
		<result property="constructorName" column="name" />
		<result property="averageLapTime" column="avg_lap_time" />
	</resultMap>

	<select id="getConstructorsWithLeastLapTime"
		resultMap="constructorRstWithTime">
		select constructor_name as name, avg (lt.milliseconds) as
		avg_lap_time
		from
		constructor c join constructor_result cr on c.id =
		cr.constructor_id
		join lap_time lt on cr.race_id = lt.race_id
		join race
		r on cr.race_id = r.id
		where r.race_year &gt;= #{startYear} and
		r.race_year &lt;= #{endYear}
		group by constructor_name
		order by
		avg_lap_time asc
		limit #{number};
	</select>


	<!-- 2st constructor query -->
	<resultMap id="constructorRstWithPoints"
		type="edu.upenn.cis550.f1project.entity.ConstructorWithPoints">
		<result property="constructorName" column="name" />
		<result property="points" column="total_points" />
	</resultMap>

	<select id="getConstructorsWithMostPoints"
		resultMap="constructorRstWithPoints">
		select constructor_name as name, sum(cr.points) as
		total_points
		from constructor c join constructor_result cr on c.id =
		cr.constructor_id
		join race r on cr.race_id = r.id
		where race_year &gt;=
		#{startYear} and race_year &lt;= #{endYear}
		group by constructor_name
		order by total_points desc
		limit #{number};
	</select>


	<!-- 1st driver query -->
	<resultMap id="driverRstWithLapTime"
		type="edu.upenn.cis550.f1project.entity.DriverWithLapTime">
		<result property="forename" column="forename" />
		<result property="surname" column="surname" />
		<result property="milliseconds" column="avg_milliseconds" />
	</resultMap>

	<select id="getDriversWithLeastLapTime"
		resultMap="driverRstWithLapTime">
		select forename, surname, avg(milliseconds) as
		avg_milliseconds
		from race r join lap_time lt on r.id = lt.race_id
		join
		driver d on lt.driver_id = d.id
		where race_year = #{year}
		group by
		forename, surname
		order by avg_milliseconds
		limit #{number};
	</select>


	<!-- 2nd driver query -->
	<resultMap id="driverRstWithPoints"
		type="edu.upenn.cis550.f1project.entity.DriverWithPoints">
		<result property="forename" column="forename" />
		<result property="surname" column="surname" />
		<result property="points" column="total_points" />
	</resultMap>

	<select id="getDriverWithMostPoints"
		resultMap="driverRstWithPoints">
		select forename, surname, sum(points) as total_points
		from
		driver d join driver_standing ds on d.id = ds.driver_id
		join race r on
		ds.race_id = r.id
		where race_year &gt;= #{startYear} and race_year &lt;= #{endYear}
		group by forename, surname
		order by total_points desc
		limit #{number};
	</select>
</mapper>