<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.upenn.cis550.f1project.mapper.GDPMapper">

    <resultMap id="countryWithGDP" type="edu.upenn.cis550.f1project.entity.vo.CountryWithGDP">
        <result property="year" column="year"/>
        <result property="gdp" column="gdp"/>
        <result property="countryName" column="country_name"/>
    </resultMap>


    <select id="selectCountriesThatHoldF1WithGDP"
            resultMap="countryWithGDP">
        SELECT gdp.year, gdp.gdp, c.country_name
        FROM world_gdp gdp
                 JOIN country c ON gdp.country_id = c.id
        WHERE gdp.year = #{year}
          AND c.country_name IN (
            SELECT DISTINCT c.country_name
            FROM (
                     SELECT c.country_id
                     FROM race r
                              JOIN circuit c ON r.circuit_id = c.id
                     WHERE r.race_year = #{year}) AS t1
                     JOIN country c ON t1.country_id = c.id)
        ORDER BY gdp.gdp DESC;
    </select>

    <!--
    The GDP trend within the last N (user input) years of the home country of player X (user input)
    -->
    <select id="findDriverHomelandGDPTrend" resultMap="countryWithGDP">
        SELECT c.country_name, t2.year, t2.gdp FROM country c JOIN ((SELECT *
 FROM world_gdp
 WHERE (country_id = (SELECT t1.country_id FROM (SELECT * FROM driver d WHERE d.id = #{id}) AS t1)
     AND gdp > 0
     AND ((SELECT year
           FROM world_gdp w
           WHERE country_id = (SELECT t1.country_id FROM (SELECT * FROM driver d WHERE d.id = #{id}) AS t1)
             AND gdp > 0
           ORDER BY year DESC
           LIMIT 1) - year) > #{years})
 ORDER BY year DESC
 LIMIT 1)
UNION
(SELECT * FROM world_gdp WHERE country_id = (SELECT t1.country_id FROM (SELECT * FROM driver d WHERE d.id = #{id}) AS t1) AND gdp > 0 ORDER BY year DESC LIMIT 1)) AS t2
ON c.id = t2.country_id;
    </select>

    <resultMap id="TopXTop" type="edu.upenn.cis550.f1project.entity.vo.TopDriverInTopCountry">
        <result property="id" column="id"/>
        <result property="forename" column="forename"/>
        <result property="surname" column="surname"/>
        <result property="totalPoints" column="total_points"/>
        <result property="countryName" column="country_name"/>
        <result property="gdp" column="gdp"/>
    </resultMap>

    <select id="bestDriverXBestCountry" resultMap="TopXTop">
        SELECT d.id, d.forename, d.surname, t1.points AS total_points, c.country_name, t3.gdp
FROM driver d
         JOIN (SELECT driver_id, SUM(points) AS points
               FROM driver_standing
               GROUP BY driver_id
               ORDER BY points DESC
               LIMIT #{m}) AS t1
              ON d.id = t1.driver_id
         JOIN country c ON d.country_id = c.id
         JOIN (SELECT t2.country_id, t2.gdp
               FROM (SELECT country_id, SUM(gdp) AS gdp
                     FROM world_gdp
                     GROUP BY country_id
                     ORDER BY gdp DESC
                     LIMIT #{n}) AS t2) AS t3
              ON d.country_id = t3.country_id;
    </select>

    <resultMap id="countryWithtTotalGDP" type="edu.upenn.cis550.f1project.entity.vo.CountryWithTotalGDP">
        <result property="totalGDP" column="gdp"/>
        <result property="countryName" column="country_name"/>
    </resultMap>

    <select id="topPlayersHomelandGDP" resultMap="countryWithTotalGDP">
        SELECT t3.country_name, AVG(t3.gdp) AS gdp
        FROM (SELECT t1.driver_id, t1.points, t2.gdp, c.country_name
              FROM (SELECT d.driver_id, SUM(d.points) AS points
                    FROM driver_standing d
                    GROUP BY driver_id
                    ORDER BY points DESC
                    LIMIT #{n}) AS t1
                       JOIN driver
                            ON t1.driver_id = driver.id
                       JOIN (SELECT w.country_id ci, SUM(w.gdp) AS gdp
                             FROM world_gdp w
                             GROUP BY ci
                             ORDER BY gdp DESC) AS t2
                            ON driver.country_id = t2.ci
                       JOIN country c ON driver.country_id = c.id) AS t3
        GROUP BY t3.country_name;
    </select>
</mapper>