.leaflet-grab {
  cursor: auto;
}
.leaflet-dragging .leaflet-grab {
  cursor: move;
}
#leaflet,
#f1map {
  z-index: 1;
  height: 750px;
}
.roundSelector {
  z-index: 10;
  position: absolute;
  /* top: 10px; */
  left: 20px;
  width: 250px;
  bottom: 50px;
  background: hsla(0, 100%, 100%, 0.7);
  padding-left: 20px;
  padding-bottom: 20px;
}
.roundFilter {
  margin-bottom: 20px;
}
.roundFilter label {
  display: block;
}
.round {
  font: normal 16px Arial, Helvetica, sans-serif;
}
.round label {
  margin-right: 10px;
}
