.header-color{
  background: #0B486B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F56217, #0B486B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F56217, #0B486B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.landing-grid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.intro-grid {
  display: flex;
  margin: 100;
}

.main-img {
  width: 100%;
}

.center-text {
  position: absolute;
  top: 15%;
  width: 100%;
  text-align: center;
  font-size: 50px;
  color: #fff;
  fontWeight: 500;
}

.question-text {
  top: 500px;
  text-align: center;
  font-size: 18px;
  color: #000000;
  fontWeight: 100;
}

.example-text {
  top: 500px;
  text-align: center;
  font-size: 15px;
  color:#808080;
  fontWeight: 100;
}

.topDriverResults{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
}

.topDriverHeaders{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 20px;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 20px;
}

.topDriverHeaders .items{
  flex: 1 0 10%;
  margin-left: 10%;
}

.topDriverResults .forename, .surname, .milliseconds{
  flex: 1 0 10%;
  margin-left: 10%;
}

.input-container, .header-container{
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  margin-left: 40%;
}

.input-container-threeInput, .header-container{
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  margin-left: 28%;
}

.input-container-twoInput, .header-container{
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  margin-left: 36%;
}

.topConstructorResults{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-left: 23%;
  margin-right: 15%;
}

.topConstructorHeaders{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 20px;
  margin-left: 23%;
  margin-right: 15%;
  font-size: 20px;
}

.topConstructorHeaders .items{
  flex: 1 0 10%;
  margin-left: 10%;
}

.topConstructorResults .constructor, .milliseconds{
  flex: 1 0 10%;
  margin-left: 10%;
}

.mostPointsConstructorsRow{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-left: 23%;
  margin-right: 15%;
}


.mostPointsConstructorsRow .constructorName, .points{
  flex: 1 0 10%;
  margin-left: 10%;
}

.topNPlayerHomeHeaders{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 20px;
  margin-left: 23%;
  margin-right: 30%;
  font-size: 20px;
}

.topNPlayerHomeHeaders .items{
  flex: 1 0 10%;
  margin-left: 15%;
  margin-right: 0%;
}

.topNPlayerHomeResults {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  text-align: justify;
  margin-left: 30%;
  margin-right: -110%;
}


.topNPlayerHomeResults .totalGDP .countryName{
  flex: 1 0 30%;
  margin-left: 10%;
  margin-right: 20%;
}

.topMDriverTopNCountryHeaders {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 23%;
  font-size: 20px;
}

.topMDriverTopNCountryHeaders .items{
  flex: 1 0 5%;
  margin-left: 10%;
}


.topMDriverTopNCountryResults{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-left: 11%;
  margin-right: 30%;
}

.topMDriverTopNCountryResults .id, .forename, .surname, .totalPoints, .gdp{
  flex: 1 0 10%;
  margin-left: 10%;

}

.gdpRankingsHeaders {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 25%;
  font-size: 20px;
}

.gdpRankingsHeaders .items{
  flex: 1 0 10%;
  margin-left: 10%;
}

.gdpRankingsResults{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-left: 20%;
  margin-right: 25%;

}

.gdpRankingsResults .year, .gdp, .countryName{
  flex: 1 0 10%;
  margin-left: 10%;
}
